libsoc.so

*.o

generator/__pycache__/*

gen/*
include/so/*
!include/so/estring.h
!include/so/Matrix.h
!include/so/soext.h
!include/so/Table.h
!include/so/xml.h
include/so/private/*
!include/so/private/column.h
!include/so/private/estring.h
!include/so/private/Matrix.h
!include/so/private/Table.h
!include/so/private/util.h

soc_*.tar.gz
R/R/gen-*
R/src/gen-*
R/src/static-*
R/src/include/*
R/NAMESPACE

*.swp
