libsoc.so

*.o

generator/__pycache__/*

gen/*
include/so/*
!include/so/estring.h
!include/so/Matrix.h
!include/so/soext.h
!include/so/Table.h
!include/so/xml.h
!include/so/SOBlock_ext.h
include/so/private/*
!include/so/private/column.h
!include/so/private/estring.h
!include/so/private/Matrix.h
!include/so/private/Table.h

libsoc_*.tar.gz
soc.Rcheck/*
R/R/gen-*
R/src/gen-*
R/src/static-*
R/src/include/*
R/NAMESPACE
R/man/*
!R/man/soc-package.Rd
R/libs/*
R/src/wininclude/*

R-windep/

fortran/libsoc.f03
fortran/libsoc.mod
fortran/test

utils/sotool
utils/pharmmltool

doxygen_sqlite3.db
html/*
latex/*

libpharmmlc.so
include/pharmml/*
!include/pharmml/private
!include/pharmml/PharmML_ext.h

*.swp
