useDynLib(soc)
export(so_SO_read)
export(so_SO_write)
export(so_SO)
export(so_SOBlock)
export(so_Design)
export(so_Toolname)
export(so_ToolSettings)
export(so_MLE)
export(so_TaskInformation)
export(so_DataFile)
export(so_Residuals)
export(so_PharmMLRef)
export(so_File)
export(so_SO)
export(so_Estimation)
export(so_Bayesian)
export(so_Severity)
export(so_PrecisionPopulationEstimates)
export(so_SimulationBlock)
export(so_Name)
export(so_Bootstrap)
export(so_Simulation)
export(so_Message)
export(so_SimulatedData)
export(so_GraphicsFile)
export(so_Content)
export(so_RawResults)
export(so_OptimalDesignBlock)
export(so_OutputFilePath)
export(so_OptimalDesign)
export(so_PopulationEstimates)
export(so_ConditionNumber)
export(so_RunTime)
export(so_Likelihood)
